<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Hoin Kim</h4>
  </div>
  <div class="user-content">
    김호인<br>
    30살<br>
    <br>
    프론트 엔드, 백엔드 개발자<br>
    <br>
    2018년 4월 SI파견회사 MINOSYS 입사<br>
    2020년 3월 SI파견회사 MINOSYS 퇴사<br>
    2020년 4월 일본회사 英輝情報システム 입사<br>
    <br>
  </div>
</div>